.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  border: solid;
  display: flex;
}
.input-field {
  margin-bottom: 5px; /* Adds spacing between input fields */
  padding: 5px; /* Adds padding inside input fields */
  border: 1px solid black; /* Default border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Includes padding and border in width */
}

.input-field.error {
  border-color: red;
}

.header {
  background-color: #6800d2;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: white;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.logo {
  height: 30px;
}
.form {
  /* margin: 20px; */
  padding: 20px;
  border-style: solid;
  /* display: flex; */
}
.titles {
  font-size: 20px;
  /* /* margin-bottom: 20px; */
  margin-top: 20px;
  /* padding: 5px; */
  /* border: solid; */
}
.checkbox {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.charge-text {
  font-style: italic;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  background-color: #6800d2;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.add-info {
  border: solid;
  padding: 20px;
  /* margin: 10px; */
}
